In [2]:
from db import db

In [68]:
from db import fornecedores

In [145]:
st = ("SELECT e.nav, f.nome_fornecedor, e.n_ne, e.vl_ne, e.data_ne, t1.disponivel" 
                " FROM nota_empenho AS e" 
                " JOIN fornecedores AS f" 
                " ON f.id = e.id_fornecedor"
                " JOIN (SELECT DISTINCT e.n_ne, CASE WHEN (SUM(nf.vl_nf) > 0) THEN (e.vl_ne - SUM(nf.vl_nf) OVER (PARTITION BY e.n_ne))"
                " ELSE e.vl_ne END AS disponivel"
                " FROM nota_empenho AS e"
                " JOIN nota_fiscal AS nf"
                " ON e.n_ne = nf.n_ne"
                " GROUP BY e.n_ne, e.vl_ne, nf.vl_nf) AS t1"
                " ON t1.n_ne = e.n_ne"
                " ORDER BY e.nav, f.nome_fornecedor, e.n_ne")

In [161]:
st = ("SELECT DISTINCT e.n_ne, CASE WHEN (SUM(nf.vl_nf) > 0) THEN (e.vl_ne - SUM(nf.vl_nf) OVER (PARTITION BY e.n_ne))"
                " ELSE e.vl_ne END AS disponivel"
                " FROM nota_empenho AS e"
                " LEFT JOIN nota_fiscal AS nf"
                " ON e.n_ne = nf.n_ne"
                " GROUP BY e.n_ne, e.vl_ne, nf.vl_nf")

In [162]:
query = db.query(st)

In [163]:
for rows in query:
    print(rows)

OrderedDict([('n_ne', '1234567'), ('disponivel', Decimal('12345678.00'))])
OrderedDict([('n_ne', '34'), ('disponivel', Decimal('4567'))])
OrderedDict([('n_ne', '2020NE00539'), ('disponivel', Decimal('25.50'))])
OrderedDict([('n_ne', '675'), ('disponivel', Decimal('2324'))])
OrderedDict([('n_ne', '986'), ('disponivel', Decimal('125.50'))])
OrderedDict([('n_ne', '0293847'), ('disponivel', Decimal('239238'))])
OrderedDict([('n_ne', '45678'), ('disponivel', Decimal('9999333.00'))])
OrderedDict([('n_ne', '2020NE00540'), ('disponivel', Decimal('25.50'))])
OrderedDict([('n_ne', '2020NE00543'), ('disponivel', Decimal('-94.50'))])
OrderedDict([('n_ne', '2020NE00555'), ('disponivel', Decimal('164.10'))])
OrderedDict([('n_ne', '0987'), ('disponivel', Decimal('99988.00'))])

In [148]:
for rows in query:
    print(rows)

In [112]:
from flask_paginate import Pagination, get_page_parameter, get_page_args

In [137]:
results = []
for rows in query:
    results.append(rows)

In [138]:
results[:1]

[OrderedDict([('nav', 'GNHo'),
              ('nome_fornecedor', 'Allana Rezende Industria da Moda ME'),
              ('n_ne', '2020NE00543'),
              ('vl_ne', Decimal('125.50')),
              ('disponivel', Decimal('-94.50'))])]

In [120]:
db.query.all()

AttributeError: 'function' object has no attribute 'all'

In [104]:
len(columns_list)

4

In [122]:
db.limit

AttributeError: 'Database' object has no attribute 'limit'

In [7]:
'''for rows in query:
    print(list(rows.items()))
    columns_list.append(list(rows.items()))'''
for rows in query:
    print(rows)
    columns_list.append(rows)

OrderedDict([('nav', 'GNHo'), ('nome_fornecedor', 'Allana Rezende Industria da Moda ME'), ('n_ne', '2020NE00543'), ('vl_ne', Decimal('125.50')), ('disponivel', Decimal('-94.50'))])
OrderedDict([('nav', 'GNHo'), ('nome_fornecedor', 'Novo Fornecedor'), ('n_ne', '2020NE00539'), ('vl_ne', Decimal('125.50')), ('disponivel', Decimal('25.50'))])
OrderedDict([('nav', 'H-44'), ('nome_fornecedor', 'Allana Rezende Industria da Moda ME'), ('n_ne', '2020NE00540'), ('vl_ne', Decimal('125.50')), ('disponivel', Decimal('-174.50'))])
OrderedDict([('nav', 'H-44'), ('nome_fornecedor', 'Allana Rezende Industria da Moda ME'), ('n_ne', '2020NE00555'), ('vl_ne', Decimal('400.00')), ('disponivel', Decimal('164.10'))])
OrderedDict([('nav', 'H-44'), ('nome_fornecedor', 'Marisol'), ('n_ne', '0987'), ('vl_ne', Decimal('100000.00')), ('disponivel', Decimal('99988.00'))])
OrderedDict([('nav', 'H-44'), ('nome_fornecedor', 'SOLAMARIS'), ('n_ne', '45678'), ('vl_ne', Decimal('9999999.00')), ('disponivel', Decimal('9999333.00'))])

In [91]:
from reportlab.pdfgen import canvas
import tempfile
import os
from reportlab.platypus import SimpleDocTemplate
from reportlab.platypus.tables import Table
from collections import OrderedDict

from reportlab.lib.pagesizes import letter, A4, landscape

c = canvas.Canvas('myfile.pdf')
c.setPageSize(A4)
width, height = A4 #keep for later

In [87]:
width, height

(595.2755905511812, 841.8897637795277)

In [89]:
wcm = width*0.03527
hcm = height*0.03527

wcm, hcm

(20.995370078740162, 29.693451968503943)

In [95]:
a = cm - wcm
b = cm - hcm

a, b

(7.351086614173223, -1.346995275590558)

In [157]:
from reportlab.lib.units import cm
from reportlab.lib.colors import pink, black, red, blue, green

In [223]:
width, height = A4 #keep for later
x_max = 20.995
y_max = 29.693

def papel_gradado(nome):
    c = canvas.Canvas('{}.pdf'.format(nome))
    c.setPageSize(A4)
    c.setFont('Times-Bold', 12)
    c.line(10*cm, 0, 10*cm, 29.693451968503943 * cm)
    c.setFont('Times-Bold', 12)
    c.drawInlineImage(logo_marinha, 9.2*cm, 27.0*cm, 2.54*cm, 2.6*cm)
    c.drawCentredString(10.49*cm, 26.5*cm, 'MARINHA DO BRASIL')
    c.drawCentredString(10.49*cm, 25.5*cm, 'GRUPAMENTO DE NAVIOS HIDROCEANOGRÁFICOS')
    c.drawCentredString(10.49*cm, 24.5*cm, 'RELATÓRIO TESTE')
    c.setFont('Times-Roman', 12)
    c.drawString(1*cm,  23*cm, 'Navio: Navio Antares')
    c.line(1*cm, 22.9*cm, 19.5*cm, 22.9*cm)
    nivel_agrup1(c, 'agrup')
    nivel_agrup2(c, 'agrup')
    for x in range(21):
        c.line(x*cm, 0, x*cm, y_max*cm)
    for y in range(60):
        c.setStrokeColor(blue)
        c.line(0, (y/2)*cm, x_max*cm, (y/2)*cm)
        '''if isinstance(y, int):
            c.drawString(1*cm, y*cm, '{} cm'.format(y))'''
    c.showPage()
    c.save()

In [224]:
papel_gradado('papel_gradado')

In [854]:
logo_marinha = '/home/ymquint/programacao/Flask/controles/static/img/marinha.png'

def relatorio(nome_docu, dados):
    '''Dados será um orderdict derivado do query'''
    c = canvas.Canvas('{}.pdf'.format(nome_docu))
    c.setPageSize(A4)
    c.setFont('Times-Bold', 12)
    c.drawInlineImage(logo_marinha, 8.5*cm, 25.1*cm, 4*cm, 4*cm)
    c.drawCentredString(10.49*cm, 24.5*cm, 'MARINHA DO BRASIL')
    c.drawCentredString(10.49*cm, 23.5*cm, 'GRUPAMENTO DE NAVIOS HIDROCEANOGRÁFICOS')
    c.drawCentredString(10.49*cm, 22.5*cm, 'RELATÓRIO {}'.format(nome_docu))
    c.setFont('Times-Roman', 12)
    #manter tracking se já foi inserido o item uma vez para não repetir
    controle = dict()
    counter = []
    total_nf = 0
    x = 1
    y = 22
    page = 0
    for rows in dados:
        if y <= 5.0:
            if page == 0:
                footer(c, 'user')
            c.showPage()
            y = 31
            page += 1
            footer(c, 'user')
        if rows['nav'] not in controle:
            y -= 1
            if page >= 1:
                y = 29
            c.drawString(x*cm,  y*cm, 'Navio: {}'.format(rows['nav']))
            controle[rows['nav']] = [rows['nav']]
            c.line(x*cm, (y-0.3)*cm, 18*cm, (y-0.3)*cm)
        if rows['nome_fornecedor'] not in counter:
            if page >= 1:
                y = 30
            nivel_agrup1(c, rows['nome_fornecedor'], (x+1), (y-1))
            controle[rows['nav']].append(rows['nome_fornecedor'])
            counter.append(rows['nome_fornecedor'])
        elif rows['nome_fornecedor'] not in controle[rows['nav']]:
            if page >= 1:
                y = 30
            nivel_agrup1(c, rows['nome_fornecedor'], (x+1), (y-1))
            controle[rows['nav']].append(rows['nome_fornecedor'])
        if rows['n_ne'] not in counter:
            nivel_agrup2(c, ['NE', 'Valor', 'Saldo'], [rows['n_ne'], rows['vl_ne'], rows['disponivel']], (x+1), (y-2))
            controle[rows['nav']].append(rows['n_ne'])
            counter.append(rows['n_ne'])
            y -= 1.5
        elif rows['n_ne'] not in controle[rows['nav']]:
            nivel_agrup2(c, ['NE', 'Valor', 'Saldo'], [rows['n_ne'], rows['vl_ne'], rows['disponivel']], (x+1), (y-2))
            controle[rows['nav']].append(rows['n_ne'])
            y -= 1.5
        total_nf += rows['vl_nf']
        y = nivel_agrup3(c, ['Nota Fiscal', 'Data', 'Valor', 'Data de pagamento'], 
                               [rows['n_nf'], rows['data_nf'], rows['vl_nf'], rows['data_pg']], (x+2.5), (y-1.5))
    if y <= 5:
        y = 6
        nivel_agrup4(c, total_nf, y)
        footer(c, 'user')
    else:
        nivel_agrup4(c, total_nf, y)
    c.showPage()
    c.save()

In [818]:
def nivel_agrup1(c, agrup, x, y):
    c.setFont('Times-Roman', 12)
    c.drawString(x*cm, y*cm, 'Fornecedor: {}'.format(agrup))
    c.line(2*cm, (y-0.3)*cm, 18*cm, (y-0.3)*cm)

In [819]:
def nivel_agrup2(c, columns, value, x, y):
    i = 0
    for column in columns:
        c.drawString(x*cm, y*cm, '{}: {}'.format(column, value[i]))
        i +=1
        x += (17.5)/len(columns)
    c.line(2*cm, (y-0.3)*cm, 18*cm, (y-0.3)*cm)

In [838]:
def nivel_agrup3(c, columns, value, x, y):
    y_final = column_value(c, value, columns, x, y)
    y_final -= 0
    return y_final

In [821]:
def nivel_agrup4(c, total_nf, y):
    s1 = 'Total NF: R$ {}'.format(total_nf)
    if y <= 0 :
        y = 31
    cursormoves1(c, s1, 15*cm, (y-3.8)*cm, 1)

In [822]:
def footer(c, user):
    c.drawString(12*cm, 0.5*cm, 'Relatório gerado por: nip nome')

In [823]:
def column_value(c, values, columns, x, y):
    i = 0
    for column in columns:
        c.drawCentredString(x*cm, y*cm, column)
        c.drawCentredString(x*cm, (y - 0.5)*cm, str(values[i]))
        i += 1
        x += (17.5)/len(columns)
    return y

In [824]:
'''1 maiuscula contem 0.33*cm
são 02 minusculas a cada 0.33*cm considerar o espaço como uma letra'''

def len_cm(string):
    length = len(string)*0.2068
    
    return(length)

In [825]:
def cursormoves1(canvas, text, x, y, wordspace):
    canvas.setFont('Times-Roman', 12)
    textobject = canvas.beginText()
    textobject.setTextOrigin(x, y)
    textobject.setWordSpace(wordspace)
    textobject.textLine(text)
    canvas.drawText(textobject)

In [855]:
relatorio("testeRelatorio", columns_list)

linha navio y=21
função agrup3 y = 18.0
após agrup 3 y = 18.0
função agrup3 y = 16.5
após agrup 3 y = 16.5
função agrup3 y = 13.5
após agrup 3 y = 13.5
linha navio y=12.5
função agrup3 y = 9.5
após agrup 3 y = 9.5
função agrup3 y = 8.0
após agrup 3 y = 8.0
função agrup3 y = 6.5
após agrup 3 y = 6.5
função agrup3 y = 3.5
após agrup 3 y = 3.5

In [779]:
counter = dict()
counter['h44'] = ['h']
counter['h44'].append('fornecedor')

In [794]:
'fornecedor' in counter['h44']

True

In [790]:
for a in counter.values():
    print('h' in a)

True

In [856]:
import datetime

In [862]:
columns_list[0]['data_nf']

datetime.date(2020, 5, 20)

In [860]:
x = columns_list[0]['data_nf']

In [864]:
x.strftime("%d/%m/%y")

'20/05/20'

In [867]:
x exists

SyntaxError: invalid syntax (<ipython-input-867-92aadfd4a958>, line 1)

In [868]:
x in locals()

False

In [869]:
x in globals()

False

In [887]:
db['nota_fiscal'].find_one(id = 22)['data_pg']

datetime.date(2020, 11, 10)

In [10]:
for rows in columns_list:
    for column in rows:
        print(column)

nav
nome_fornecedor
n_ne
vl_ne
disponivel
nav
nome_fornecedor
n_ne
vl_ne
disponivel
nav
nome_fornecedor
n_ne
vl_ne
disponivel
nav
nome_fornecedor
n_ne
vl_ne
disponivel
nav
nome_fornecedor
n_ne
vl_ne
disponivel
nav
nome_fornecedor
n_ne
vl_ne
disponivel

In [22]:
dic = {'b': 'c', 'a': 'd'}

In [27]:
for keys in dic.keys():
    print('{} {}'.format(keys, dic[keys]))

a d
b c

In [24]:
dic

{'a': 'd', 'b': 'c'}

In [28]:
dic2 = {'cd': 12}

In [29]:
dic + dic2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [30]:
dic.update(dic2)

In [31]:
dic

{'a': 'd', 'b': 'c', 'cd': 12}

In [32]:
len(dic)

3

In [33]:
dic3 = {'dc': None, 'dt': None, 'dl': None}

In [34]:
dic.update(dic3)

In [35]:
dic

{'a': 'd', 'b': 'c', 'cd': 12, 'dc': None, 'dt': None, 'dl': None}

In [40]:
dic.values() != None

True

In [41]:
navios = [('gnho', 'GNHo'), ('H-44', 'H-44'), ('H-41', 'H-41'), ('H-40', 'H-40'), ('H-39', 'H-39'),
 ('H-38', 'H-38'), ('H-36', 'H-36'), ('H-35', 'H-35'), ('H-34', 'H-34'), ('H-21', 'H-21'), ('H-11', 'H-11')]

In [42]:
navios.append(('none', 'none'))

In [43]:
navios

[('gnho', 'GNHo'),
 ('H-44', 'H-44'),
 ('H-41', 'H-41'),
 ('H-40', 'H-40'),
 ('H-39', 'H-39'),
 ('H-38', 'H-38'),
 ('H-36', 'H-36'),
 ('H-35', 'H-35'),
 ('H-34', 'H-34'),
 ('H-21', 'H-21'),
 ('H-11', 'H-11'),
 ('none', 'none')]

In [47]:
('gnho', 'GNHo') in navios

True

In [49]:
for rows in db['nota_empenho']:
    print(rows)

OrderedDict([('id', 6), ('id_fornecedor', 4), ('n_solemp', 32432432), ('n_ne', '2020NE00543'), ('vl_ne', Decimal('125.50')), ('data_ne', datetime.datetime(2020, 10, 25, 0, 0)), ('nav', 'GNHo')])
OrderedDict([('id', 5), ('id_fornecedor', 5), ('n_solemp', 2020205), ('n_ne', '2020NE00539'), ('vl_ne', Decimal('125.50')), ('data_ne', datetime.datetime(2020, 10, 18, 0, 0)), ('nav', 'GNHo')])
OrderedDict([('id', 4), ('id_fornecedor', 4), ('n_solemp', 20202004), ('n_ne', '2020NE00540'), ('vl_ne', Decimal('125.50')), ('data_ne', datetime.datetime(2020, 10, 25, 0, 0)), ('nav', 'H-44')])
OrderedDict([('id', 7), ('id_fornecedor', 4), ('n_solemp', 202020072), ('n_ne', '2020NE00555'), ('vl_ne', Decimal('400.00')), ('data_ne', datetime.datetime(2020, 10, 25, 0, 0)), ('nav', 'H-44')])
OrderedDict([('id', 8), ('id_fornecedor', 6), ('n_solemp', 1098), ('n_ne', '0987'), ('vl_ne', Decimal('100000.00')), ('data_ne', datetime.datetime(2020, 11, 17, 0, 0)), ('nav', 'H-44')])
OrderedDict([('id', 9), ('id_fornecedor', 7), ('n_solemp', 45678), ('n_ne', '45678'), ('vl_ne', Decimal('9999999.00')), ('data_ne', datetime.datetime(2020, 11, 17, 0, 0)), ('nav', 'H-44')])
OrderedDict([('id', 11), ('id_fornecedor', 4), ('n_solemp', 1234890), ('n_ne', '0293847'), ('vl_ne', Decimal('239238')), ('data_ne', datetime.datetime(2020, 10, 25, 0, 0)), ('nav', 'H-21')])
OrderedDict([('id', 10), ('id_fornecedor', 4), ('n_solemp', 123456), ('n_ne', '1234567'), ('vl_ne', Decimal('12345678.00')), ('data_ne', datetime.datetime(2020, 11, 17, 0, 0)), ('nav', 'H-21')])

In [2]:
import datetime

In [4]:
datetime.datetime(2020, 10, 25) > datetime.datetime(2020, 9, 24)

True